@model AspnetcoreEcommercedemo.Models.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Create";
    var Title = "Create New Contact";
}

<div class="d-flex" id="wrapper">
    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        </nav>
        <div class="container-fluid">
            <form asp-controller="Contacts" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <div class="col-12 border-bottom">
                    <h2 class="text-primary">@Title</h2>
                </div>
                <div class="form-group">
                    <label>KnownAs</label>
                    <input class="form-control" asp-for="KnownAs" />
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" asp-for="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Introduction</label>
                    <textarea class="form-control" id="editor" asp-for="Introduction"></textarea>
                </div>
                <div class="form-group">
                    <label>Looking For</label>
                    <input class="form-control" asp-for="LookingFor" />
                </div>
                <div class="form-group">
                    <label>Interests</label>
                    <input class="form-control" asp-for="Interests" />
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input class="form-control" asp-for="Country" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" asp-for="City" />
                </div>

                <div class="form-group">
                    <label>Image</label>
                    <br />
                    <input class="btn btn-primary" asp-for="CurrentImage" type="hidden" />
                    <input class="btn btn-outline-info" asp-for="Photo" />
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/menutoggle.js"></script>
}
