﻿﻿ /* Contact-Area */
:root {
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
}

.page-hero {
    min-height: 20vh;
    display: grid;
    place-items: center;
    background: var(--grey-200);
    color: var(--grey-500);
}

#contact p {
    color: white;
}

    #contact p a {
        color: white;
    }
