@{
    ViewData["Title"] = "Home Page";
}


<!--  ======================= Start Main Area ================================ -->
<!-- Showcase Area -->
<section class="section-a">
    <div class="container">
        <div>
            <h1>Welcome To My Store</h1>
            <h3>New Clothes For Sale</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus sit eum impedit consequuntur dolores vitae assumenda consectetur
                architecto labore vel!
            </p>
            <a href="#" class="btn button btn-warning mr-4 text-uppercase">Shop Now</a>
        </div>
        <img src="https://i.ibb.co/37Y74kv/showcase.jpg" alt="">
    </div>
</section>

<!-- New Deals-->
<section id="newDeals">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="heading"> <span>new arrivals</span> </h1>
            </div>
        </div>
        @*<div id="searchWrapper" class="pt-5">
                <input type="text"
                       name="searchBar"
                       id="searchBar"
                       placeholder="Search for Product" />
            </div>
            <div id="newProducts" class="row"></div>
            <div id="btn-container"></div>*@
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="product m-2">
                            <div class="product-header">
                                <img src="~/Images/puma.jpg" />
                                <ul class="icons">
                                    <span><i class="bx bx-heart"></i></span>
                                    <a href="/UI/Product/Cart">
                                        <span><i class="bx bx-shopping-bag"></i></span>
                                    </a>
                                    <span><i class="bx bx-search"></i></span>
                                </ul>
                            </div>
                            <div class="product-footer">
                                <a href="product-details.html">
                                    <h5 class="card-title">T-shirts</h5>
                                </a>
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bx-star"></i>
                                </div>
                                <h4 class="price">$20.00</h4>
                                <a href="/UI/Product" class="btn btn-primary">Go to Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product m-2">
                            <div class="product-header">
                                <img src="~/Images/1610306319-air-vapormax-plus-mens-shoe-w4xgr4-1610306273.jpg" />
                                <ul class="icons">
                                    <span><i class="bx bx-heart"></i></span>
                                    <a href="/UI/Product/Cart">
                                        <span><i class="bx bx-shopping-bag"></i></span>
                                    </a>
                                    <span><i class="bx bx-search"></i></span>
                                </ul>
                            </div>
                            <div class="product-footer">
                                <a href="product-details.html">
                                    <h5 class="card-title">Pants</h5>
                                </a>
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bx-star"></i>
                                </div>
                                <h4 class="price">$35.00</h4>
                                <a href="/UI/Product" class="btn btn-primary">Go to Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product m-2">
                            <div class="product-header">
                                <img src="~/Images/adrenaline-gts-21-370x250.jpg" />
                                <ul class="icons">
                                    <span><i class="bx bx-heart"></i></span>
                                    <a href="/UI/Product/Cart">
                                        <span><i class="bx bx-shopping-bag"></i></span>
                                    </a>
                                    <span><i class="bx bx-search"></i></span>
                                </ul>
                            </div>
                            <div class="product-footer">
                                <a href="product-details.html">
                                    <h5 class="card-title">Pants</h5>
                                </a>
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bx-star"></i>
                                </div>
                                <h4 class="price">$ 35.00</h4>
                                <a href="/UI/Product" class="btn btn-primary">Go to Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product m-2">
                            <div class="product-header">
                                <img src="~/Images/AO1696_061_P1.jpg" />
                                <ul class="icons">
                                    <span><i class="bx bx-heart"></i></span>
                                    <a href="/UI/Product/Cart">
                                        <span><i class="bx bx-shopping-bag"></i></span>
                                    </a>
                                    <span><i class="bx bx-search"></i></span>
                                </ul>
                            </div>
                            <div class="product-footer">
                                <a href="product-details.html">
                                    <h5 class="card-title">Shoes</h5>
                                </a>
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bx-star"></i>
                                </div>
                                <h4 class="price">$ 35.00</h4>
                                <a href="/UI/Product" class="btn btn-primary">Go to Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product m-2">
                            <div class="product-header">
                                <img src="~/Images/run-asics-running-shoes-1636736175.jpg" />
                                <ul class="icons">
                                    <span><i class="bx bx-heart"></i></span>
                                    <a href="/UI/Product/Cart">
                                        <span><i class="bx bx-shopping-bag"></i></span>
                                    </a>
                                    <span><i class="bx bx-search"></i></span>
                                </ul>
                            </div>
                            <div class="product-footer">
                                <a href="product-details.html">
                                    <h5 class="card-title">Watches</h5>
                                </a>
                                <div class="rating">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bx-star"></i>
                                </div>
                                <h4 class="price">$ 55.00</h4>
                                <a href="/UI/Product" class="btn btn-primary">Go to Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="heading"> <span>Testimonials</span> </h1>
            </div>
        </div>
    </div>
    <div class="testimonial-center container pt-5">
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="./images/profile1.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="./images/profile2.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="./images/profile3.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
    </div>
</section>

<!-- Brands -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="heading"> <span>Brands</span> </h1>
            </div>
        </div>
    </div>
    <div class="brands-center container pt-5">
        <div class="brand">
            <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
            <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
            <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
            <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
            <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
            <img src="./images/brand2.png" alt="" />
        </div>
    </div>
</section>
<!-- cta area -->
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Free Shipping With Your Order<br>Start Today</h2>
            <a href="contact.html" class="btn btn-primary">Lets Get Started</a>
        </div>
    </div>
</section>
<!-- Social Media Area -->
<section id="social-contact" class="contact-area">
    <div class="container">
        <h2>We<i class="fa fa-heart"></i>New Friends!</h2>
        <ul class="list-inline list-social social d-flex justify-content-center">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>

@section scripts{
    @*<script src="~/js/externalApi.js"></script>*@
}
