@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700|Open+Sans:300,400,600,700");

/*----------------------------
    [Table Contents]
------------------------------
 1. Global css
 3. Preloador
 4. Section 
 5. Navbar sticky 
*/
/* Global css */
:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --color-global-primary: #6EC1E4;
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
}

/* heading-area */
.heading {
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin: 0 auto;
}

    .heading span {
        font-size: 2rem;
        padding: 1rem 6rem;
        color: #fff;
        background: var(--blue);
        border-top-right-radius: 3rem;
        display: inline-block;
    }


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*=== Card style ========*/
.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

    .card img {
        height: 300px;
        width: 100%;
    }

#btn-container {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
}

.btn {
    padding: 0.35rem 0.75rem;
    letter-spacing: 1.6px;
    font-size: 0.75rem;
    color: var(--clr-white);
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
}

#btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page-btn {
    width: 2rem;
    height: 2rem;
    background: var(--clr-primary-7);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    transition: var(--transition);
}

.active-btn {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}


/*=== Pagination Buttons ===*/
.prev-btn,
.next-btn {
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
/*=== Search Bar style ===*/

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

    #searchWrapper::after {
        content: '🔍';
        position: absolute;
        top: 7px;
        right: 15px;
    }


﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
﻿:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0,0,0,0.7);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.section {
    padding: 10rem 0 5rem 0;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.section-a {
    margin: 2rem 0;
}

    .section-a .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .section-a h1 {
        font-size: 4rem;
        color: var(--primary-color);
    }

    .section-a p {
        margin: 1rem 0;
    }


/* Banner Area */

.site-main .site-banner {
    background: url('../images/slide2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

    .site-main .site-banner .site-title h3 {
        font-weight: 500;
    }

        .site-main .site-banner .site-title h3::after {
            content: " ";
            height: 2px;
            color: white;
            display: inline-block;
            margin-left: 5%;
            transform: translateY(-10px);
        }

    .site-main .site-banner .site-title h1 {
        color: white;
        font-weight: bold;
    }

    .site-main .site-banner .site-title h3 {
        font-size: 5rem;
        font-weight: bold;
        color: white;
    }

    .site-main .site-banner .site-title h4 {
        font-size: 1.5rem;
    }

    .site-main .site-banner .banner-image > img {
        padding: 7rem 0;
        width: 90rem;
    }

#outbox {
    width: 400px;
    text-align: center;
}

#date {
    font-weight: 300;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


/* End Banner Area */

/* Card style*/

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

    .card img {
        height: 300px;
        width: 100%;
    }

#btn-container {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
}

.btn {
    padding: 0.35rem 0.75rem;
    letter-spacing: 1.6px;
    font-size: 0.75rem;
    color: var(--clr-white);
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
}

#btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page-btn {
    width: 2rem;
    height: 2rem;
    background: var(--clr-primary-7);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    transition: var(--transition);
}

.active-btn {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}

/* Pagination Buttons*/
.prev-btn,
.next-btn {
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
/* Search Bar style*/

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

    #searchWrapper::after {
        content: '🔍';
        position: absolute;
        top: 7px;
        right: 15px;
    }


/* Testimonials */
.testimonial-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}

.testimonial {
    position: relative;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    text-align: center;
    border-radius: 0.5rem;
}

    .testimonial:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
        transform: translateY(-1rem);
    }

    .testimonial span {
        position: absolute;
        top: 2%;
        left: 50%;
        font-size: 12rem;
        font-family: sans-serif;
        color: #ff7c9c;
        line-height: 1;
        transform: translate(-50%, 0);
    }

    .testimonial p {
        margin: 2rem 0 1rem 0;
    }

    .testimonial .rating {
        margin-bottom: 1rem;
    }

    .testimonial .img-cover {
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        margin: 0 auto;
    }

        .testimonial .img-cover img {
            height: 100%;
            object-fit: cover;
        }

    .testimonial h4 {
        margin-top: 1rem;
    }

/* Brands */
.brands-center {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
}

.brand {
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
}

    .brand img {
        object-fit: contain;
    }

@media only screen and (max-width: 768px) {
    .brands-center {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*-----------------
  Contact-area
-------------------*/
.contact {
    background: #333;
    color: #fff;
}

section.cta {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../images/bg-cta.jpg');
    padding: 250px 0;
}

    section.cta .cta-content {
        position: relative;
        z-index: 1;
    }

        section.cta .cta-content h2 {
            margin-top: 0;
            margin-bottom: 25px;
            color: white;
            max-width: 450px;
            font-size: 50px;
        }

@media (min-width: 768px) {
    section.cta .cta-content h2 {
        font-size: 80px;
    }
}

section.cta .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

/*-------------
Contact Area 
--------------*/
.contact-area {
    padding: 100px;
    text-align: center;
}

    .contact-area h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

        .contact-area h2 i {
            color: #dd4b39;
        }

    .contact-area ul.list-social {
        margin-bottom: 0;
    }

        .contact-area ul.list-social li a {
            display: block;
            height: 80px;
            width: 80px;
            line-height: 80px;
            font-size: 40px;
            border-radius: 100%;
            color: white;
        }

        .contact-area ul.list-social li.social-twitter a {
            background-color: #1da1f2;
        }

            .contact-area ul.list-social li.social-twitter a:hover {
                background-color: #0d95e8;
            }

        .contact-area ul.list-social li.social-facebook a {
            background-color: #3b5998;
        }

            .contact-area ul.list-social li.social-facebook a:hover {
                background-color: #344e86;
            }

        .contact-area ul.list-social li.social-google-plus a {
            background-color: #dd4b39;
        }

            .contact-area ul.list-social li.social-google-plus a:hover {
                background-color: #d73925;
            }
  

/* ========= Footer ======== */
.footer {
    background-color: #222;
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-center span {
    margin-right: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-center a:hover {
    color: var(--pink);
}

.footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

/**sticky footer*/
html.footer-sticky, .footer-sticky body {
    height: 100%;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
}

a:hover {
    text-decoration: none;
    outline: 0 !important;
}

.back-to-top {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    bottom: 10px;
    right: 10px;
    background: #eee;
    color: #333;
    line-height: 50px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

    .back-to-top.show {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
    }

    .back-to-top i {
        display: block;
        font-size: 38px;
        line-height: 50px;
        text-align: center;
    }